body {
    font-family: 'Ubuntu Condensed', sans-serif;
}
a {
    color: #FFF;
    text-decoration: none;
}
.container {
    margin: 0 auto;;
    max-width: 1200px;
}
header {
    display: flex;
    margin-bottom: 10px;
}
.header_logo {
    width: 95px;
    height: 116px;
    margin-right: 20px;;
}
.header_text {
   margin-top: 10px;
}
.header_text b {
    font-size: 30px;
    padding-bottom: 20px;
}
/* header_nav */
.header_nav {
    background: linear-gradient( #16305b, #577fba);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
.items {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 36px;
}
.nav_items {
    justify-content: right;
    padding-right: 30px;
    padding-top:12px;
    padding-bottom: 12px ;
    border-right: 1px solid #fff;
}
/* CONTENT */
.content {
    display: flex;
    justify-content: space-between;
}
/* left_content */
.left_content {
    width: 900px;
    height: 306px;
    display: flex;
}
.lc_text {
    max-width: 292px;
    max-height: 305px;
    background-color: #053d5e;
    color: #FFF;
    padding:20px;
}
.lc_text h1 {
    margin: 0;
    margin-top: 7px;
    font-size: 25px;;
    margin-right: 32px;
    
}
.lc_text p {
    font-size: 14px;
    margin-bottom: 30px;
    margin-right: 32px;
}
.lc_text a {
    color: #c3c618;
    font-size: 12px;
}
.lc_text a:hover {
    text-decoration: underline;
}
.raileway {
    width: 556px;
    height:306;
}
/* right_content */
.right_content {
    width: 261px;
}
.right_content h1 {
    margin: 0;
    margin-bottom: 19px;
    border-bottom:1px solid #f2f2f2;
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 4px;
}
.rc_text  {
    width: 261px;
    height: 248px;
    background-color: #ebebed;
}
.text_items {
    width: 228px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 12px;
    padding-right: 19px;
}
.numbers {
    font-size: 21px;
    margin: 0;
}
.rc_subtext {
    font-size: 13px;
    margin: 0;
    margin-bottom: 23px;
}
/* sections */
.sectors {
    margin: 0;
    padding: 0;
}
.sections {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}
.sections_items {
    width: 360px;
    height: 72px;
    background-color: #cecece;
    display: flex;   
    align-items: center;
    color: black;
    font-size: 25px;
}
.sections_items img {
    width: 24px;
    padding-left: 20px;
    padding-right: 10px;
}
/* last_projects */
.last_projects {
    width: 900px;
}
.last_projects h1 {
    border-bottom: 1px solid #b2b2b2;
    font-weight: 100;
    padding-bottom: 10px;
    color: #838383;
    font-size: 21px;
}
.last_p_items {
    display: flex;
    justify-content: space-between;
}
.father_union {
    max-width:262px ;
    margin-bottom: 24px;
}
.father_union img {
    width: 262px;
    height: 147px;
}
.father_union h1 {
    font-weight: 100;
    font-size: 21px;
}
.father_union h4 {
    font-size: 12px;
    font-weight: 100;
    color: #acacac;
}
.father_union p {
    font-size: 14px;
}
.last_projects a {
    color: #5779a2;
    margin-bottom: 24px;   
}
/* social_network */
.social_network {
    display: flex;
    border-top: 1px solid #e0e0e0;
    justify-content: space-between;
}
.netvork_items {
    width: 406px;
    height: 146px;
    border: 1px solid #eeeeee;
    margin-top: 56px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.netvork_images {
    display: flex;
    justify-content: center;
}
.netvork_items img {
    width: 36px;
    height: 37px;
}
.netvork_items h3 {
    font-size: 21px;
}
.netvork_items p {
    font-size: 14px;
}
/* section_video */
.section_video {
    width: 261px;
}
.section_video h1 {
    border-bottom: 1px solid #b2b2b2;
    font-weight: 100;
    padding-bottom: 10px;
    color: #838383;
    font-size: 21px;
} 
.section_video video {
    width: 261px;
}
.section_video p {
    font-size: 14px;
}
.section_video a {
    color: #536d97;
    font-size: 12px;
    margin-bottom: 44px;
}
/* reclam_div */
.reclam_div {
    margin-top: 44px;
    display: flex;
    width: 262px;
    height: 296px;
    background-color: #ebebed;
}
/* footer */
footer {
    margin-top: 74px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #cecece;
    
}
.footer_blocks {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top:12px;
    padding-bottom:12px;
}
.footer_sorces {
    display: flex;
    justify-content: center;
}
.footer_text {
    font-size: 12px;;
}