body, html {
	font-family: Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: clamp(12px,calc(.7rem + .25vw),20px);
    font-weight: 400;
    line-height: 1.7;
	margin: 0;
	padding: 0;
	background-color: #333;
	background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
a {
	text-decoration: none;
	color: #fff;
}
li {
    list-style-type: none;
   }
   li::before {
    content: "►"; 
    padding-right: 10px;
}
/*HEADER*/
header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: rgba(0,0,0,.25);
	position: sticky;
	top:0;
}
.header_section {
	display: flex;
}
.header_logo {
	margin: 0 5px;
}
.header_item {
	padding: 10px 15px;
}
/*MAIN*/
.main {
	margin-left: 30px;
	color: #fff;
}
.main p {
	width: 700px;
	font-size: 20px;
}
.main_nav {
	display: flex;
	padding-top: 20px;
	text-align: center;
}
.main_nav a {
	color: #ffdfc7;
	margin: 0;
}
/* Stat container*/
.container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 8px;
	width: 1470px;
	height: auto;
	background: #fff;
	margin:0 auto;
	padding-top: 50px;
	
}
.column_1 {
	margin: 20px;
	max-width: 40%;
	display:flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.column_2 {
	margin: 20px;
	max-width: 40%;
	display:flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.stat_list {
	width: 400px;
	height: auto;
	ont-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: -.03rem;
    font-weight: 800;
}
.stat_list a {
	font-size: 30px;
	color: #333;
}
.get_poster {
	width: 250px;
	height: auto;
	font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-weight: 800;
    font-weight: 700;
    font-size:17px;
    margin: 0 0 .8rem
}
.get_poster a {
	background-color: gray;
	padding: 10px 20px;
	border-radius: 5px;
}
.poster img {
	width: 250px;
	height: auto;
}
/*column-1 part*/
.part_display_text {
	display: flex;
	padding: 30px;
	max-width: 100%;
	flex-wrap: wrap;
	align-items:center;
	background: linear-gradient(rgba(156,39,176,.2),#fff);
}
.part_flex-direction {
	display: flex;
	padding: 30px;
	flex-wrap: wrap;
	max-width: 100%;
	align-items: center;
	background: linear-gradient(rgba(156,39,176,.2),#fff);
}
/*column-2 part*/
.order {	
	display: flex;
	padding: 30px;
	flex-wrap: wrap;
	max-width: 100%;
	align-items: center;
	background: linear-gradient(rgba(255,138,0,.2),#fff);
}
.part_flex-grow {
	display: flex;
	padding: 30px;
	flex-wrap: wrap;
	max-width: 100%;
	align-items: center;
	background: linear-gradient(rgba(255,138,0,.2),#fff);
}
